div{
	align-content:center;
}
.moviePic{
	height:400px;
	width:250px;
	opacity:80%;
}
.movieDetail{
	position:relative;
	margin:0 auto;
	top:20px;
	width:100px;
	text-align:center;
	font-size:20px;
}
/* Your CSS Code here. */